
@{
    ViewBag.Title = "RenameRoleAndUsers";
}

<div class="spacerBody">
<p>&nbsp;</p>
@Html.ActionLink("Roles", "RoleIndex") | @Html.ActionLink("Role Manager", "RoleAddToUser")
<h2>Role Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Role Edit
    </div>

    <div class="message-success">@ViewBag.ResultMessage</div>
    <p>

        OldName : @Html.TextBox("OldRoleName", ViewData["textbox1"])
        NewName: @Html.TextBox("NewRoleName")

    </p>
    <input type="submit" value="Save" />

}
</div>

