@using PagedList.Mvc;
@using EducationalProject.Models;
@model PagedList.IPagedList<EducationalProject.Models.UserProfile>
@{
    ViewBag.Title = "Indexer";
}

<p>&nbsp;</p>
<div class="spacerBody">
    @Html.ActionLink("Create New Role", "RoleCreate") | @Html.ActionLink("Role Manager", "RoleAddToUser")
    <h2>Current Users:</h2>
   @using (Html.BeginForm("Indexer", "Admin", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
   }
         <table border="1" class="simple-little-table">
            <tr>
                <th>@Html.ActionLink("User", "Indexer", new { sortOrder = ViewBag.NameSortParm })</th>
                
                <th>Operatoin</th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>                    
                            @item.UserName                     
                    </td>

                    @*<td>
                      
                        @for (int j = 0; j < 1; j++)
                        {
                            //if (ViewBag.Roles[0][0] != "None")
                            //{
                                @ViewBag.Roles[1][j]
                            //}
                        }

                    </td>*@
                    <td>

                     
                            @if (item.UserName == "Administrator")
                            {
                                <span onclick="return confirm('You cant delete Administrator!')">
                                    <a href="/Admin/GetAllUsers" class="delLink">Delete</a>
                                </span>
                            }

                            else
                            {
                                <span onclick="return confirm('Are you sure to delete?')">
                                    <a href="/Admin/DeleteUser?UserName=@item.UserName" class="deleteLink">Delete</a>
                                </span>

                            }
                        <a href="/Admin/GetAllUsers" class="delLink">Edit</a>
                        <a href="/Admin/GetAllUsers" class="delLink">Details</a>
                        
                    </td>
                </tr>

            }
        </table>

    
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Indexer",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    

</div>

