@{
    ViewBag.Title = "Results";
}
@model List<EducationalProject.Models.ResultsWrapper>

<h2>Results</h2>

<table id="tblTests" class="table table-bordered table-condensed table-striped">
    @if (Model.Count > 0)
    {
        <thead>
            <tr>
                <th class="tableHeader">Test</th>
                <th class="tableHeader">Date</th>
                <th class="tableHeader">Passed</th>
                <th class="tableHeader">Percent taken</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
       @foreach (var item in Model)
       {
           <tr>
               <td class="tableCell">@item.TestName</td>
               <td class="tableCell">@item.DatePassing</td>
               <td class="tableCell">@item.Passed</td>           
               <td class="tableCell">@item.PercentTaken%</td>
               <td>@Html.ActionLink("Details", "DetailsResult", new {testResultId = item.TestResultId})</td>
           </tr>
       }
        </tbody>
    }
</table>